@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    border: 0;
    text-decoration: none;
    list-style: none;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgba(218, 211, 198, 0.255);
}

body::-webkit-scrollbar-thumb {
    background-color: #43abae;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #43aaaefb;
}

/* Autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* Selection */
::selection {
    background-color: #df9dff;
}

body {
    padding-top: 5.7rem;
    background-color: rgba(218, 211, 198, 0.255);
}

/* Navigation bar  */
header {
    background-color: #43abae;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 990;
    top: 0;
    left: 0;
}

header > a {
    padding: 0.5rem ;
    text-align: center;
    color: #222222;
    text-decoration: none;
}

.container-tittle {
    padding: 0.5rem ;
    text-align: center;
    display: flex;
}

.container-tittle > a > h1, .container-tittle > h1 {
    color: #000000c0;
}

.san {
    color: #fbfbfbe7;
}

.selected-anchor {
    color: #222222;
}

.non-visible {
    visibility: hidden;
}

#btnBurger {
    color: #fbfbfb;
    padding: 1rem 0.2rem;
    display: flex;
    cursor: pointer;
    border: none;
    background: none;
    gap: .5rem;
}

#spanBurger {
    border-top: 3px solid;
    width: 20x;
    display: block;
    color: #fbfbfb;
}

#spanBurger::after, #spanBurger::before {
    content: ' ';
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .35s;
    position: relative;
}

#btnBurger > #spanBurger.show {
    border-top-color: transparent;
}

#btnBurger > #spanBurger.show::before {
    transform: rotate(135deg);
}

#btnBurger > #spanBurger.show::after {
    transform: rotate(-135deg);
    top: -7px;
}

#container-btnBurger,
#container-btnAccount {
    width: 6rem;
    margin: 0 2rem;
}

#container-btnBurger {
    justify-content: left;
}

#container-btnAccount {
    justify-content: right;
    padding: 0rem 0.2rem;
    height: 50px;
}

#container-btnAccount img {
    width: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    height: 100%;
}

/* Navigation bar menu */
menu {
    display: block;
    visibility: hidden;
}

menu.show {
    display: block;
    visibility: visible;
    overflow-y: auto;
}

.menu-item{
    color: #222222;
}

.menu-item-myposts {
    justify-content: left;
    display: flex;
}

.menu-item-liked {
    justify-content: center;
    display: flex;
}

.menu-item-saved {
    justify-content: right;
    display: flex;
}

menu > ul {
    position: absolute;
    width: 100%;
    top: 5.2rem;
    right: 0;
    background-color: #43aaaefb;
    list-style-type: none;
    display: block;
    flex-direction: column;
    text-align: left;
    height: 0px;
    transition: .5s;
    overflow-y: hidden;
    position: fixed;
    z-index: 999;
}

menu.show > ul {  
    height: calc(100% - 5.2rem);
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #222222;
    color: #fbfbfb;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1rem 0;
    margin: 0 1.2rem;
}

menu > ul > li {
    margin: 0 1rem;
}

menu > ul > li:hover {
    border-radius: 0.35cm;
    background-color: #fbfbfb;
    color: #43aaaafb;
}

menu > ul > li:hover a{
    color: #43aaaafb; 
}

/* Portfolio */
.portfolio-card {
    margin: 1.6rem 1.3rem;
    background-color: #fbfbfb;
    border: 1px solid #ccccccae;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    max-height: 360px;
    overflow: hidden;
    flex-wrap: wrap;
}

.portfolio-card:hover {
    border: 2px solid #43abae;
    box-shadow: 0px 5px 0px 2px #43abae;
}

.portfolio-card > a > img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.portfolio-card > h2 {
    font-size: 1.6em;
    margin-top: 10px; 
}

.portfolio-card > .art-style {
    background-color: #43abae;
    color: #fff;
    padding: 6px 10px;
    border-radius: 20px;
    margin-top: 10px;
    display: inline-block;
    font-weight: 600;
}

.portfolio-card > .rating i {
    margin-top: 15px;
    color: #e4e956;
    font-size: 20px;
}

.container-tags {
    overflow: hidden;
    height: 85px;
    margin-bottom: 15px;
}

.container-tags > .art-style {
    font-weight: 600;
}

.footer-card {
    justify-content: space-between;
}

.footer-card img {
    width: 90px;
    height: 90px;
}

/* Cadastro */
.body-cadastro {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    padding: 0;
    margin-top: 6vh;
    background-color: rgba(218, 211, 198, 0.255);
}

.container-cadastro {
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    background-color: #fbfbfb;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    justify-content: center;
}

.h1-cadastro {
    margin-top: 2.2vh;
}

.span-cadastro {
    font-size: 0.72em;
}   

.h1-cadastro::after {
    margin: .6rem 0;
    border-bottom: 2.5px solid #aeaeae11;
    display: block;
    content: ' ';
}

.p-cadastro {
    margin: 10px 0; 
    font-size: 1em;
    color: #555;
}

.button-submit {
    border: none;
    background-color: #43abae;
    color: white;
    font-weight: bold;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3em;
    width: 95%;
}

.button-submit:hover {
    background-color: #43aaaee7;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0;
    width: fit-content;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%;
}

.input-box label {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    color: #000000c0;
}

.input-box input{   
    padding: .9rem 1.1rem;
    border-radius: 12px;
    margin: .6rem 0;
    background-color: transparent;
    border: 1.4px solid rgb(172, 172, 172);
}

.input-box input:focus-visible{
    outline: 2px solid #43abae;
}

.button-submit-cadastro {
    display: flex;
    justify-content: center;
}

.container-img {
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    justify-content: center;
    margin-right: 2rem;
}

.container-img img  {
    width: 600px;
    height: 600px;
}

/* Cadastro 2 */
    .checkbox-container {
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
    }

    #h2-cadastro {
        font-size: 1.3em;
        font-weight: 600;
        color: #000000c0;
    }

    .checkbox-item { 
        width: 100px;
        height: 8rem;
    }

    .checkbox-item input {
        visibility: hidden;
    }

.checkbox-item label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    border: 2px solid #ddd;
    box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.1);
    text-align: center;
    transition: all 100ms ease-in-out;
    border-radius: 12px;
}
.checkbox-content{
    height: 100%;
    overflow: hidden;
}
.checkbox-item img {
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    max-width: 180px;
    max-height: 180px;  
    overflow: hidden;
}

.button-submit2 {    
    margin-top: 30px;
}

.checkbox-item span {
    color: #555;
    padding: 5px 0px;
    transition: all 100ms ease-in-out;
}

.checkbox-item input:checked + label:before {
    opacity:1;
    transform:scale(1);
}

.checkbox-item input:checked + label .icon {
    color: #40a5a8;
}

.checkbox-item input:checked + label .title {
    color: #40a5a8;
}

.checkbox-item input:checked + label {
    box-shadow: 0px 5px 0px 2px #43abae;
}

/* Cadastro 3 */
.input-box input[type="file"] {
    display: none;
}

.input-box .image-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-image-preview {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-box .image-selector img {
    max-width: 100%;
    max-height: 200px;
    cursor: pointer;
    margin-bottom: 12px;
}

.input-box .image-selector label {
    cursor: pointer;
}

.input-box label {
    text-align: center; 
    font-size: 1.3em;
    font-weight: 600;
    color: #000000c0;
    margin-bottom: 6px;
}

.input-box-3 {
    margin-bottom: 4rem;
}

.input-box-3 label{
    justify-content: center;
}

#cover-image-preview {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.input-box .image-selector input[type="file"] + label {
    padding: 10px 20px;
    background-color: #43abae;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.input-box .image-selector label {
    width: fit-content;
}

.input-box textarea {
    border: 2px solid #ecf1f4;
    background-color: #FFF;
    padding: 8px;
    border-radius: 4px;
    height: 48px;
    transition: height 0.3s ease-in-out;
    resize: none;
    width: 100%;
    margin-bottom: 4rem;
    font-size: 1.1em;
    font-weight: 600;
    color: #000000c0;
}

.input-box textarea:focus {
    outline: none;
    height: 80px;
    border: 1px solid #40a5a8;
}

.is-artist {
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.is-artist label {
    padding-top: 15px;
}

.is-artist input {
    display: none;
}

.is-artist input + label::before {
    content: "";
    width: 33px;
    height: 33px;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    border: 1px solid gray;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
    transition: all 0.25s;
}

.is-artist input:checked + label::before {
    background-color: #40a5a8;
    color: white;
    content: "✓";
}

/* Login */
.container-login {
    justify-content: center;
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    background-color: #fbfbfb;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.mascot-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mascot-box {
    position: relative;
    width: 280px;
    height: 280px;
}

.mascot-box::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 280px;
    height: 280px;
    background: transparent;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 100px 0 40px #fbfbfb;
}

.mascot-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 280px;
    height: 280px;
    background-color: #eaeaea;
    overflow: hidden;
    border-radius: 50%;
}

.mascot-circle img, .mascot-box img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 290px;
}

.h1-login {
    align-self: flex-start;
    margin: 0 .8rem;
    position: relative;
    z-index: 2;
    margin-bottom: 1rem;
}

.toggle-password, .anchor-donthavean-acount {
    cursor: pointer;
    margin-top: 10px;
    color: #43abae; 
    font-weight: bold;
    display: inline-block; 
}

.toggle-password:hover, .anchor-donthavean-acount:hover{
    color: #1e7b7f;
}

.toggle-password {
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 15px;
}

.input-group-login {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.input-box-login {
    position: relative;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}

.input-box-login input {
    padding: .9rem 1.1rem;
    border-radius: 12px;
    margin: .6rem 0;
    width: 85%;
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(0,0,0,.5);
}

.input-box-login input:focus {
    outline: 1px solid #43abae;
}

.input-box-login input:-webkit-autofill,
.input-box-login input:-webkit-autofill:hover,
.input-box-login input:-webkit-autofill:focus,
.input-box-login input:-webkit-autofill:active {
    -webkit-text-fill-color: rgba(0,0,0,.5) !important;
}

#password-field {
    margin-bottom: 0;
}

.input-box-login label{
    position: absolute;
    left: 0;
    padding: .9rem 1.1rem;
    margin: .6rem 0;
    pointer-events: none;
    transition: 0.3s;   
    font-weight: 600;
    color: rgba(0,0,0,.4);
}

.input-box-login input:focus + label,
.input-box-login input:valid + label {
    font-size: 0.8em;
    color: #333;
    background: linear-gradient(#fbfbfb, white);
    padding: 0 10px;
    text-transform: uppercase;
    transform: translateX(1.2rem) translateY(-7px);
    font-weight: 600;
}

#donthaveacount-text-color {
    color: rgba(0,0,0,.5);
}

.container-login .input-box {
    text-align: center;
    font-size: .95em;
}

.container-login .button-submit-cadastro .button-submit{
    width: 100%;
    margin-bottom: 0;
}

.container-posts {
    width: calc(100% - 40px);
    padding: 20px;
}

/* Estilos do Feed */
.feed {
    margin: 0 15px ;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

/* Estilos dos Posts */
.post {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

/* Estilos da Imagem do Post */
.post .img-post {
    padding-top: 6px;
    padding-bottom: 10px;
    max-width: 300px;
    display: block;
    object-fit: cover;
    margin: auto;
}

.post img {
    max-width: 300px;
    max-height: 400px;
}

/* Estilos do Cabeçalho do Post */
.post-header {
    color: #222222;
    display: flex;
    align-items: center;
    padding: 10px;
}

.post-footer {
    padding: 0 22px;
}

.user-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name {
    font-weight: bold;
}

.follow-button {
    margin-left: auto;
    background-color: #1e7b7f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos do Post Principal */
.post-principal {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.post-principal img {
    width: 100%;
    margin: auto;
    object-fit: cover;
    max-width: 500px;
    max-height: 500px;
}

.post-principal .post-content {
    padding: 10px;
}

.art-style {
    background-color: #43abae;
    color: #fff;
    padding: 6px 10px;
    border-radius: 20px;
    margin-top: 10px;
    display: inline-block;
    font-weight: 500;
    margin-right: 10px; /* Adicione margem à direita para separar as tags */
}

.post-principal h2 {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    color: #333;
}

.post-principal .post-comment {
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.post-comment {
    width: 300px;
    overflow-wrap: break-word;
}

.icon-button {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
    margin: 0;
    transition: color 0.3s ease;
    padding-bottom: 8px;
}

.liked {
    color: #ff4b4b;
}

.unliked {
    color: #333;
}

.unliked:hover {
    color: #fc2f2f;
}

.liked:hover {
    color: #757575;
}

/* Estilos do Botão de Seguir (Follow) */
.follow-button {
    margin-left: auto;
    background-color: #1e7b7f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.follow-button:hover {
    background-color: #6ad4d8;
}

.followed {
    border: 1px solid #6ad4d8;
    background-color: #fdfdfd;
    color: #1e7b7f;
}

/* Estilos do botão de seguir quando já seguido (hover não necessário) */
.followed:hover {
    background-color: #1e7b7f;
    color: #fff; /* Mantém a mesma cor quando já seguido */
}

.relacionados {
    width: 90%;
    padding: 10px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.432);
    border-radius: 10px 10px 0 0;
    margin: 10px auto;
    background-color: #dbdbdb;
    height: 30px;
}

/* Profile */
.container-profile {
    width: calc(100% - 40px);
    padding: 20px;
    justify-content: space-between;
    display: flex;
}

.container-profile-info {
    position: fixed;
    width: 40%;
}

.container-profile-posts {
    margin-left: 45%;
    width: 56%;
}

.sec-profile {
    max-width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
}

.profile-photo {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.container-profile-foto {
    position: relative;
    height: 30px;
}

.profile-img{
    max-width: 90px;
    max-height: 90px;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 10px;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-stats {
    width: 100%;
    justify-content: space-around;
}

.profile-stat {
    display: flex;
    margin-bottom: 10px;
}

.dropdown-profile {
    margin-left: auto;
} 

.art-styles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.art-style {
    background-color: #43abae;
    color: #fff;
    padding: 6px 10px;
    border-radius: 20px;
    margin-top: 10px;
    display: inline-block;
    font-weight: 500;
    margin-right: 10px; /* Adicione margem à direita para separar as tags */
}

.profile-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.profile-cta button {
    background-color: #1e7b7f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-cta button:hover {
    background-color: #6ad4d8;
}

.config-button-container{
    background-color: #555 !important;
    margin-left: auto;
    width: 40px;
    height: 40px;
}

.sec-review {
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.stars {
    font-size: 24px;
    color: #d7db63;
    margin: .6rem 0;
}

.rating {
    margin: 5px auto;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.art-styles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.art-style {
    background-color: #43abae;
    color: #fff;
    padding: 6px 10px;
    border-radius: 20px;
    margin-top: 10px;
    display: inline-block;
    font-weight: 500;
    margin-right: 10px; /* Adicione margem à direita para separar as tags */
}

.submit-order {
    margin: 10px auto;
    background-color: #D68BC9;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.submit-order a{
    color: #fff;
}
.submit-order:hover {
    background-color: #c457b1;
    transform: scale(1.05);
}

.submit-order:focus {
    outline: none;
}

.submit-order:active {
    transform: scale(0.95);
}

/* Adicione uma animação quando o botão for pressionado */
.submit-order:active {
    transform: scale(0.95);
}

.follow-button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    background-color: #1e7b7f;
    color: #fff;
    margin: auto;
}

.follow-button:hover {
    background-color: #034a96;
}

.follow-button:focus {
    outline: none;
}

.bio-section {
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.bio-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.bio-content {
    font-size: 16px;
    color: #555;
}

/* Estilos para o dropdown */
.dropdown {
    margin-right: auto;
    margin-left: 10px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: #000000c0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: .65em;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*----------------------------------------------*/
ul.menu {
    background-color: #fff;
    list-style: none;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    margin-bottom: 20px; 
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);
}

ul.menu li.menu-item {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 7rem;
    justify-content: center;
    display: flex;
}

ul.menu li.menu-item:hover {
    background-color: #f0f0f0;
}

ul.menu li.menu-item.active {
    background-color: #1e7b7f;
    color: #fff;
}

ul.menu li.menu-item:not(:last-child) {
    margin-right: 10px; /* Espaçamento entre os itens */
}

.logo-image{
    height: 40px;
}

.logo{
    display: flex;
}

/* Postar */
.container-postar {
    display: flex;
    justify-content: center;
    padding: 0 2.5rem;
}

.form-column, .post-column {
    border-radius: 20px;
    padding: 20px;
    background-color: #fbfbfb;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    margin: 0 4rem;
    margin-top: 5vh;
    display: flex;
    width: 40%;
    justify-content: center;
}

.postar-input-group {
    min-width: fit-content;
    justify-content: center;
}

#previewImage {
    max-width: 300px;
    color: #000000c0;
    font-size: .9em;
    font-weight: 600;
}

#postComment {
    border-radius: 12px;
    margin: .6rem 0;
    border: 1.4px solid rgb(172, 172, 172);
    font-size: .85em;
    padding-left: 1.1rem;
    font-weight: 100;
    width: calc(100% - (8px + 1.1rem));
}

#postComment:focus {
    border: 1px solid #40a5a8;
}

.input-postar, .input-postar-2 {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: .6rem;
}

.input-postar-2 {
    margin-bottom: calc(.6rem + .6rem + 12px);
}

.input-postar label {
    pointer-events: none;
    justify-content: flex-start;
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    color: #000000c0;
}

.input-postar-2 label {
    cursor: pointer;
    padding: .9rem 1.1rem;
    border-radius: 12px;
    margin: .6rem 0;
    background-color: rgba(172, 172, 172, 0.251);
    border: 1.4px solid rgb(172, 172, 172);
}

.input-postar input[type="file"] {
    visibility: hidden;
    width: 100%;
}

@media screen and (min-width: 768px){ /* tablets */
    /* Portfolio */
    .portfolio-card {
        margin: 1.6rem 7.3rem;
        padding: 25px;
        min-height: 360px;
    }

    .portfolio-card > img {
        width: 135px;
        height: 135px;
    }

    .portfolio-card > h2 {
        font-size: 1.8em;
    }

    .portfolio-card > .art-style {
        padding: 7px 13px;
        font-size: 1.2em;
    }

    .portfolio-card > .rating i {
        margin-top: 15px;
        color: #e4e956;
        font-size: 1.6em;
    }

    /* Cadastro */
    .body-cadastro {
        margin-top: 3vh;
    }

    .input-box label {
        font-size: 1.45em;
        font-weight: 600;
        color: #000000c0;
    }

    .button-submit {
        padding: 1rem 2.2rem;
        border-radius: 8px;
        font-size: 1.4em;
    }

    .button-submit-cadastro {
        text-align: end;
        margin-top: 0;
    }

    /* Cadastro 2 */
    .checkbox-container {
        gap: 5%;
    }

    .container-cadastro h1 {
        font-size: 3em;
    }
    
    .p-cadastro {
        font-size: 1.5em;
    }

    .checkbox-item { 
        width: 150px;
        height: 180px;
    }

    .checkbox-item span {
        padding: 5px 0px;
        font-size: 1.14em;
    }
    
    /* Login */
    .container-login {
        width: 60%; 
    }

    .input-box-login label{
        padding: .9rem 2rem;
    }

    .input-box-login input:focus + label,
    .input-box-login input:valid + label {
        padding: 0 2px;
        transform: translateX(35px) translateY(-7px);
    }

    /* Profile */
    .feed {
        grid-template-columns: repeat(2, 1fr);
    }

    .post h2 {
        font-size: 18px;
    }

    .sec-profile {
        padding: 10px;
    }
    
    .profile-name {    
        margin-left: 18px;
    }
    
    .profile-photo{
        display: flex;
        padding-top: 10px;
        border-radius: 10px;
    }

    .profile-stats {
        margin-top: 5px;
        display: flex;
        align-items: start;
    }

    .profile-stat {
        text-align: start;
    }

    .sec-review {
        padding: 10px;
    }

    .stars {
        font-size: 20px;
    }

    .rating {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px){ /* monitores */    
    /* Portfolio */
    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .portfolio-card {
        width: 280px;
        margin: 1rem 0rem;
        min-height: 380px;
    }

    .portfolio-card > img {
        width: 100px;
        height: 100px;
    }

    .portfolio-card > h2 {
        font-size: 1.35em;
    }

    .portfolio-card > .art-style {
        background-color: #43abae;
        color: #fff;
        padding: 4px 10px;
    }

    /* Cadastro */
    .container-img {
        margin-top: 12vh;
        display: flex;
        width: 50%;
    }

    .container-cadastro {
        width: 40%;
    }

    /* Cadastro 2 */
    .checkbox-container {
        gap: 22px;
    }

    .container-cadastro h1 {
        font-size: 2.6em;
    }
    
    .p-cadastro {
        font-size: 1.2em;
    }

    .checkbox-item { 
        width: 8rem;
        height: 8rem;
        margin: 18px 0;
    }

    .button-submit {    
        margin-top: 20px;
    }

    .button-submit2 {
        margin-top: 40px;
    }

    /* Login */
    .container-login {
        width: 30%; 
    }

    .feed {
        grid-template-columns: repeat(4, 1fr);
    }

    .feed-post {
        grid-template-columns: repeat(2, 1fr);
    }

    .post h2 {
        font-size: 18px;
    }

    .post-principal .post-content {
        padding: 20px;
    }

    .post-principal h2 {
        font-size: 24px;
    }

    .post-principal .post-comment {
        font-size: 18px;
    }
}